*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

header{
    background: orange;
    
    height: 60px;
    width: 100%;
    position:fixed;
    margin-top: -60px;
    z-index: 200;
    display: flex;
    align-items: center;

 
}
section{
    width: 70%;
    margin-left: 15%;
    
    /* debug */
    /* background: rgb(16, 166, 141); */
    /* height: 10px; */


}
header section{   
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.genere{
    color:white;
    margin-right: 3px;
    /* font-size: 10px; */

}
.logo{
    width: 100px;
    height:auto;
}
.segni{
    width: 155px;
    text-align: right;
    color:white;
}
main{
    margin-top: 60px;
    /* debug */
    /* background: grey; */
    /* height: 100px; */
}
.row{
    display: flex;
    justify-content: space-between;
}
.prodotto{
    width: 30%;
    margin: 2vh 0;
    position: relative;
    text-align: center;

    /* debug */
    /* height: 40vh; */
    /* background: aqua; */
}
.img1{
    width: 100%;
    height: 400px;
    /* z-index: 4; */
    
    position: absolute;
    top:0;
    left:0;
}
.img2{
    width: 100%;
    height: 400px;
}
.prodotto:hover .img1{
    display:none;
}

.cuore{
    position: absolute;
    right: 0;
    top: 2%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    background: white;
}



.spazio-etichette{
    position: absolute;
    bottom: 20%;
    width: 100%;
    text-align: left;

    /* debug */
    /* background: black; */


}
.etichetta{

    color: white;
    font-weight: 400;
    padding: 1px 5px;

}
.sconto{
    background: red;
    margin-right: 0.5%;
}
.sostenibilità{
    background: rgb(76, 167, 15);
}
.specifiche{
    text-align: left;
}
.marca{
    font-size: 9px;
}
.modello{
    font-weight: 600;
}
.prezzo{
    color: red;
    font-size: 12px;
    font-weight: 800;
}
.vecchio {
    color: black;
    text-decoration:line-through;
}

footer{
    background: black;
    height: 80px;
}